@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Login {
  h1 {
    text-align: center;
    margin:10px 0 50px;
  }
}
