@font-face {
  font-family: 'GothamRounded';
  src: url('../asset/fonts/gotham-rounded/GothamRounded-Book.eot');
  src: url('../asset/fonts/gotham-rounded/GothamRounded-Book.woff2') format('woff2'), /* Super Modern Browsers */
  url('../asset/fonts/gotham-rounded/GothamRounded-Book.woff') format('woff') /* Pretty Modern Browsers */
}



*, *:after, *:before {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "GothamRounded", Tahoma, sans-serif ;
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 75px;
}

p {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.text-center {
  text-align: center!important;
}

.row {
  margin: 15px 0;
}
